<div class="cafeteria-menu" id="cafeteria-menu">
  <ul>
    <% menus.each do |menu| %>
      <li class="menu"
          id=<%= "menu-#{menu.id}" %>
          <% if !menu.active && blur %>
            style="opacity:0.55"
          <% end %>
      >
        <% if @current_user.is_owner? %>
          <span class="menuItem-delete">
            <%= link_to menu,
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        remote: true do%>
              <%= image_tag "trash.png" %>
            <% end %>
            <%= link_to edit_menu_path(menu.id) do%>
              <%= image_tag "edit-26.png" %>
            <% end %>
          </span>
        <% end %>
        <a class=<%= menu.id %> id="menuName"><%= menu.name.titlecase %></a>
      </li>
    <% end %>
  </ul>
</div>
