<% content_for :head do %>
  <div class="search-box">
    <form>
      <input type="search" placeholder="Search for item">
      <input type="submit" value="Seach Item">
    </form>
  </div>
  <% if @current_user.is_owner? %>
    <div class="all-menus-link">
      <%= link_to "All menus", all_menus_path %>
    </div>
    <div class="addItem-form" id="addItem-form">
      <%= form_with(model: @menu, url: menu_items_url, method: "post", local: true) do |form|%>
        <p class="menus-dropdown">
          <select name="menu_name" id="menu-name">
            <option value="" disabled selected style="color:#7e808c">Select Menu to add</option>
            <% Menu.order(:name).each do |menu|%>
              <option value=<%= menu.id %>> <%= menu.name %> </option>
            <% end %>
            <option value="Others"> Others </option>
          </select>
        </p>
        <%= form.text_field :name, placeholder:"Item name" %>
        <%= form.number_field :price, placeholder:"Item price", in:1..10000 %>
        <%= form.text_field :description, placeholder:"Description of item" %>
        <%= form.text_field :new_menu_name, placeholder:"Menu name", class:"add-menu-input"%>
        <%= form.submit data: { "disable-with": "Saving..." } %>
      <% end %>
    </div>
  <% end %>
<% end %>
