<%= render partial: "search-addItem" %>
<% if @current_user.is_clerk? || @current_user.is_owner? %>
  <div class="walk-in-header">
    <h3>
      <%= image_tag "walk-in3.png" %>
      Order for walk-in customer
      <%= image_tag "walk-in3.png" %>
    </h3>
  </div>
<% end %>
<!-- menu and menu items -->
<div class="menu-menuItems">
  <%= render partial: "menuList",locals: { menus: @menus.active, blur: false } %>
  <div class="cafeteria-menuItems">
    <% @menus.active.each do |menu| %>
      <ul class="menuItems-list" id=<%= "menuList-#{menu.id}" %>>
        <h3 class="menuName" id=<%= menu.id %>>
          <%= menu.name.titlecase %>
        </h3>
        <% menu.menu_items.active.order(:name).each do |menu_item| %>
          <li class="menuItem" id=<%= "item-#{menu_item.id}" %>>
            <%= render partial: "menu_items/menuItems-list",
                       locals: { menu_item: menu_item } %>
            <p class="orderItem-add" id=<%= "additem-#{menu_item.id}" %>>
              <%= render partial: "menu_items/addItem",
                       locals: { menu_item: menu_item, order: @order } %>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="cart-main">
  <%= link_to cart_path do%>
    <%= image_tag "cart-32.png" %>
  <% end %>
</div>
<!-- for mobile view -->
<%= render partial: "mobileMenuList", locals: { order: @order } %>
