<%= render partial: "search-addItem" %>
<% if @current_user.is_clerk? || @current_user.is_owner? %>
  <div class="walk-in-header">
    <h3>
      <%= image_tag "walk-in3.png" %>
      Order for walk-in customer
      <%= image_tag "walk-in3.png" %>
    </h3>
  </div>
<% end %>
<div class="menu-menuItems">
  <%= render partial: "menuList" %>
  <%= render partial: "menu_items/menuItems-list" %>
</div>
<div class="menuButton">
  <%= image_tag "plate.png" %>
  Menus
</div>
<% if @order %>
  <% if @order.order_items.any? %>
    <div class="cart-bottom">
      <span class="cart-bottom-items"> <%= @order.order_items.count %> item(s)</span>
      <span class="cart-bottom-price"> ₹<%= @order.total_price %></span>
      <span class="cart-bottom-button"> <%= link_to "View Cart", cart_path %>
      </span>
    </div>
  <% end %>
<% end %>
