<main class="signUpBox">
  <p class="signUp-login">
    Edit item
  </p>
  <%= form_with url: menu_item_path, method: :patch, class: "signUp-form" do |form| %>
    <p class="Active">
      <%= label_tag(:active,"Active") %>
      <%= form.check_box :active,
                        checked: @menu_item.active
      %>
    </p>
    <%= form.text_field :name,
                        placeholder: "Item Name",
                        value: @menu_item.name,
                        autofocus:"autofocus"
    %>
    <br>
    <%= form.number_field :price,
                          placeholder: "Price",
                          value: @menu_item.price,
                          class: "edit-item-price",
                          autofocus:"autofocus"
    %>
    <br>
    <%= form.text_field :description,
                         value: @menu_item.description,
                         placeholder: "Description"
    %>
    <br>
    <p class="menus-dropdown-edit">
      <select name="menu_name" id="menu-name">
        <option value="" disabled selected style="color:#7e808c">Select Menu to add</option>
        <% Menu.order(:name).each do |menu|%>
          <option value=<%= menu.id %>
          <%= @menu_item.menu.id == menu.id ? "selected" : nil %>
          >
            <%= menu.name %>
          </option>
        <% end %>
        <option value="Others"> Others </option>
      </select>
    </p>
    <br>
    <%= form.text_field :new_menu_name,
                        placeholder: "New Menu Name",
                        class: "new-menu-name-edit"
    %>
    <br>
    <%= form.submit "Update", data: { "disable-with": "Updating..." }, class: "signUp-button"%>
  <%end%>
</main>
