<%@orders.each do |order|%>
  <div class="each-order">
    <p>
      <span>Order Id:<%=order.id%></span>
      <span class="total-price">Rs.<%=order.total_price%></span>
    </p>
    <p class="ordered_at">
      <%=order.ordered_at%>
    </p>
    <p>
      <a href="" onclick="viewDetails()">View Details</a>
      <span class="each-order-status">
        <%=order.order_status%>
      </span>
    </p>
    <section class="order-details" id="order-details">
      <ul>
        <% order.order_items.each do |menu_item|%>
          <li class="order-item" >
            <span><%=menu_item.menu_item_name%></span >
            <span class="total-price">Rs.<%=menu_item.menu_item_price%></span>
          <li>
       <%end%>
     </ul>
    </section>
  </div>
<%end%>
