<% orders.each do |order| %>
  <div class="each-order">
    <p>
      <span>Order Id:
        <a id="<%= order.id %>"><%= order.id %></a>
      </span>
      <span class="total-price">Rs.<%= order.total_price %></span>
    </p>
    <p class="ordered_at">
      <% if order.user.is_clerk? || order.user.is_owner? %>
        <%= image_tag "walk-in1.png" %>
        <%= "Walk in customer" %>
      <% else %>
        <%= order.user.name.capitalize %>
      <% end %>
      <% if order.date %>
        <%= order.date.strftime("%d %B,%Y - %I:%M %p") %>
      <% end %>
    </p>
    <p>
      <% if mark_as_delivered %>
        <%= link_to "Mark as Delivered", order_path(order.id), method: "patch" %>
      <% else %>
        <%= link_to "View Details", order_path(order.id) %>
      <% end %>
      <span class="each-order-status"
            <% if order.delivered_at %>
              style="color:#11b911;font-weight:bold"
            <% elsif order.date %>
              style="color:#ff6000e8;font-weight:bold"
            <% else %>
              style="color:rgba(159, 49, 250, 0.932);font-weight:bold"
            <% end %>
      >
        <%= order.order_status %>
      </span>
    </p>
    <section class="order-details" id="order-details">
      <ul>
        <% order.all_menu_item_names.uniq.each do |menu_item| %>
          <li class="order-item" >
            <span>
              <%= menu_item + " x"+order.all_menu_item_names.count(menu_item).to_s %>
            </span >
            <span class="total-price">
              Rs.<%= order.order_items.get_menu_item_price(menu_item)*order.all_menu_item_names.count(menu_item) %>
            </span>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
<% end %>
