<p class="rate" id=<%= "order-#{order.id}" %>>
  <% if mark_as_delivered %>
    <%= link_to "Mark as Delivered",
                order_path(order.id),
                method: "patch",
                data: { "disable-with": "Please wait...", confirm: "Are you sure?" },
                remote: true
    %>
  <% elsif order.delivered_at.nil? %>
    Order is being prepared
  <% else %>
    <% if order.ratings == 0 && order.user == @current_user %>
      <% 5.times do |img| %>
        <%= link_to order_rating_path(id: order.id, rating: img+1),
                    method: :put,
                    remote: true,
                    class:"rating" do
        %>
        <%= image_tag "star.png" , id:img+1 %>
      <% end %>
    <% end %>
  <% else %>
    <% order.ratings.times do %>
      <%= image_tag "ratted-star.png" %>
    <% end %>
    <% (5-order.ratings).times do %>
      <%= image_tag "star.png" %>
    <% end %>
  <% end %>
<%end%>
</p>
