<div class="orders">
  <% content_for :search do %>
    <div class="search-box">
      <%= form_with(url: search_path, method: "get", local: true) do |form|%>
        <%= form.text_field :order_id, placeholder: "Enter order id" %>
        <%= form.submit "Search order" %>
      <% end %>
    </div>
    <div class="sales-reports">
      <%= form_with(url: reports_path,method: :post) do |form|%>
        <%= form.number_field :user_id,
                             placeholder: "User ID",
                             min: 1%>
        <%= form.date_field :from_date,
                            placeholder: "From date",
                            min: Date.parse("30-06-2019"),
                            max: Date.today %>
        <%= form.date_field :to_date,
                            placeholder: "To date",
                            max: Date.today %>
        <%= form.submit "Submit" %>
      <%end%>
    </div>
  <% end %>
  <h3 class="orders-heading">All Orders</h3>
  <%= render partial:"ordersList",
             locals: { orders: @all_orders.delivered_and_confirmed,
                       mark_as_delivered: false } %>
</div>
