<!DOCTYPE html>
<html>
  <head>
    <title>CafteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="theme-color" content="#a13cf9" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="head-of-the-page">
      <nav class="cafeteria-navbar">
        <h2 class="cafeteria-navbarHeading">
          <%= image_tag "cooking (1).png" %>Cafeteria Management
          <div class="container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </h2>
        <ul class="cafeteria-navbarAllButtons" id="cafeteria-navbarAllButtons">
          <% if @current_user %>
            <li class="cafeteria-navbarButton">
              <%= image_tag "home1.png" %>
              <%= link_to "Home", menus_path %>
            </li>
            <% if @current_user.is_clerk? || @current_user.is_owner? %>
              <li class="cafeteria-navbarButton">
                <%= image_tag "pending-orders1.png" %>
                <%= link_to "Pending Orders", pending_orders_path%>
              </li>
            <% end %>
            <% if @current_user.is_owner? %>
              <li class="cafeteria-navbarButton">
                <%= image_tag "all-orders.png" %>
                <%= link_to "All Orders", all_orders_path%>
              </li>
            <% end %>
            <li class="cafeteria-navbarButton">
              <%= image_tag "cart1.png" %>
              <%= link_to "Cart", cart_path %>
            </li>
            <li class="cafeteria-navbarButton dropdown">
              <span class="name-icon"><%= @current_user.name[0] %></span><%= @current_user.name %>
              <div class="user-content">
                <p>
                  <%= image_tag "orders.png" %>
                  <%= link_to "My Orders", orders_path %>
                </p>
                <p>
                  <%= image_tag "edit-26.png" %>
                  <%= link_to "Edit Profile", edit_user_path(id: @current_user.id) %>
                </p>
                <p>
                  <%= image_tag "logout.png" %>
                  <%= link_to "LogOut", destroy_session_path, method: :delete %>
                </p>
              </div>
            </li>
            <li class="cafeteria-navbarButton mobile">
              <%= image_tag "orders.png" %>
              <%= link_to "My Orders", orders_path %>
            </li>
            <li class="cafeteria-navbarButton mobile">
              <%= image_tag "edit-26.png" %>
              <%= link_to "Edit Profile", edit_user_path(id: @current_user.id) %>
            </li>
            <li class="cafeteria-navbarButton mobile">
              <%= image_tag "logout.png" %>
              <%= link_to "LogOut", destroy_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="cafeteria-navbarButton">
              <%= image_tag "sign-in.png" %>
              <%= link_to "Sign In", new_session_path %>
            </li>
            <li class="cafeteria-navbarButton">
              <%= image_tag "sign-up.png" %>
              <%= link_to "Sign Up", new_user_path %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div class="search-box icons-all">
        <h3 class="h3">Order everything Online</h3>
        <section class="food-icons">
          <%= image_tag "fast-food.png" %>
          <%= image_tag "tea-cup.png" %>
          <%= image_tag "pizza-slice1.png" %>
          <%= image_tag "fried-potatoes.png" %>
        </section>
        <%= yield :head %>
        <%= yield :search %>
      </div>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <%end%>
      <% if flash.alert %>
        <p class="alert"><%= alert %></p>
      <%end%>
      <% if flash[:error] %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(flash[:error].count, "error") %> prohibited this FORM being saved:
          </h2>
          <ul>
            <% flash[:error].each_with_index do |msg,index| %>
              <li class="error-msg"><%= "#{index + 1}.#{msg}" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
