<!DOCTYPE html>
<html>
  <head>
    <title>CafteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="head-of-the-page">
      <nav class="cafeteria-navbar">
        <h2 class="cafeteria-navbarHeading">
          <%= image_tag "cooking (1).png" %>Cafeteria Management
        </h2>
        <ul class="cafeteria-navbarAllButtons">
          <% if @current_user %>
            <li class="cafeteria-navbarButton">
              <%= link_to "Home", menus_path %>
            </li>
            <% if @current_user.is_clerk? || @current_user.is_owner? %>
              <li class="cafeteria-navbarButton">
                <%= link_to "Pending Orders", pending_orders_path%>
              </li>
            <% end %>
            <% if @current_user.is_owner? %>
              <li class="cafeteria-navbarButton">
                <%= link_to "All Orders", all_orders_path%>
              </li>
            <% end %>
            <li class="cafeteria-navbarButton">
              <%= link_to "Orders", orders_path %>
            </li>
            <li class="cafeteria-navbarButton">
              <%= link_to "Cart", cart_path %>
            </li>
            <li class="cafeteria-navbarButton">
              <%= link_to "LogOut", destroy_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="cafeteria-navbarButton">
              <%= link_to "Sign In", new_session_path %>
            </li>
            <li class="cafeteria-navbarButton">
              <%= link_to "Sign Up", new_user_path %>
            </li>
          <% end %>
        </ul>
      </nav>
      <div class="search-box">
        <h3>Order everything Online</h3>
        <section class="food-icons">
          <%= image_tag "fast-food.png" %>
          <%= image_tag "tea-cup.png" %>
          <%= image_tag "pizza-slice1.png" %>
          <%= image_tag "fried-potatoes.png" %>
        </section>
        <%= yield :head %>
      </div>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <%end%>
      <% if flash.alert %>
        <p class="alert"><%= alert %></p>
      <%end%>
      <% if flash[:error] %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(flash[:error].count, "error") %> prohibited this FORM being saved:
          </h2>
          <ul>
            <% flash[:error].each_with_index do |msg,index| %>
              <li class="error-msg"><%= "#{index + 1}.#{msg}" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
