<!DOCTYPE html>
<html>
  <head>
    <title>CafteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="theme-color" content="#a13cf9" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="head-of-the-page">
      <%= render partial: "home/navbar" %>
      <div class="search-box icons-all">
        <h3 class="h3">Order everything Online</h3>
        <section class="food-icons">
          <%= image_tag "fast-food.png" %>
          <%= image_tag "tea-cup.png" %>
          <%= image_tag "pizza-slice1.png" %>
          <%= image_tag "fried-potatoes.png" %>
        </section>
        <%= yield :head %>
        <%= yield :search %>
      </div>
      <%= render partial: "home/messages" %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
