<!DOCTYPE html>
<html>
  <head>
    <title>CafteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <nav class="cafeteria-navbar">
        <h2 class="cafeteria-navbarHeading"><%= image_tag "cooking (1).png" %>Cafeteria Management</h2>
        <ul class="cafeteria-navbarAllButtons">
          <li class="cafeteria-navbarButton"><%= link_to "Home", root_path %></li>
          <li class="cafeteria-navbarButton"><%= link_to "Pending Orders", pending_orders_path%></li>
          <li class="cafeteria-navbarButton"><%= link_to "Orders", orders_path %></li>
          <li class="cafeteria-navbarButton"><%= link_to "Cart", cart_path %></li>
          <li class="cafeteria-navbarButton"><%= link_to "LogOut", destroy_session_path, method: :delete %></li>
        </ul>
      </nav>
      <div class="search-box">
        <h3>Order everything Online</h3>
        <section class="food-icons">
          <%= image_tag "fast-food.png" %>
          <%= image_tag "tea-cup.png" %>
          <%= image_tag "pizza-slice1.png" %>
          <%= image_tag "fried-potatoes.png" %>
        </section>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
