<!DOCTYPE html>
<html>
  <head>
    <title>CafteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstarp -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/bae75bb48f.js"></script>
    <meta name="theme-color" content="#a13cf9" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="head-of-the-page">
      <%= render partial: "home/navbar" %>
      <div class="search-box icons-all">
        <h3 class="h3">Order everything Online</h3>
        <section class="food-icons">
          <%= image_tag "fast-food.png" %>
          <%= image_tag "tea-cup.png" %>
          <%= image_tag "pizza-slice1.png" %>
          <%= image_tag "fried-potatoes.png" %>
        </section>
        <%= yield :head %>
        <%= yield :search %>
      </div>
      <%= render partial: "home/messages" %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
